body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.resume-section {
  width: 100%;
  height: 100%;
  padding: 70px;
  margin-top: 40px;
  scroll-margin-top: 40px;
}

.resume-title {
  text-align: center;
  margin-bottom: 100px;
}

.resume-title h1 {
  font-size: 2rem;
  color: var(--color-white);
}

.resume-title span {
  color: var(--color-primary);
}

.resume-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-section, .right-section {
  width: 48%;
}

.left-section h2 {
  font-size: 1.5rem;
  color: var(--color-white);
  margin-bottom: 20px;
  /* text-decoration: underline 5px solid var(--color-primary); */
}

.cards-container {
  margin-bottom: 30px;
}

.card {
  background-color: #000;
  color: var(--color-white);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  margin-bottom: 20px;
}

.card-image {
  width: 20%;
  max-width: 40px;
  max-height: 40px;
  margin-right: 20px;
}

.card-content {
  width: 80%;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: gray;
  font-weight: 500;
}

.right-section .small-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.small-card {
  background-color: #000;
  color: var(--color-white);
  width: 80%;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  position: relative;
  cursor: pointer;
}

.small-card-image {
  width: 30px;
  height: 30px;
}

.small-card-text {
  position: absolute;
  top: -40px;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 5px 10px;
  border-radius: 4px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-size: 0.8rem;
  font-weight: 700;
  white-space: nowrap;
  pointer-events: none;
}

.small-card:hover .small-card-text {
  opacity: 1; /* Show the text on hover */
  transform: translateY(0); /* Reset the translation */
}

@media (max-width: 768px) {

  .resume-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
  }

  .left-section, .right-section {
    width: 100%;
  }

  .left-section h2 {
    text-align: center;
  }

  .small-card, .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .small-card {
    height: 80px;
  }

  .right-section .small-cards-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .cards-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-image {
    width: 100%;
    margin-bottom: 10px;
  }

  .small-card-image {
    width: 40px;
    max-width: 40px;
    height: 40px;
  }

  .card-content {
    width: 100%;
  }

  .small-cards-container {
    justify-content: center;
    gap: 10px;
  }
}
