* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  .contact-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    scroll-margin-top: 40px;
    padding: 60px;
  }
  
  .contact-heading {
    font-size: 2rem;
    color: var(--color-white);
    margin-bottom: 100px;
  }
  
  .contact-heading span {
    color: var(--color-primary);
  }
  
  .contact-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 80%;
    max-width: 1200px;
  }
  
  .contact-left, .contact-right {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .contact-card {
    background-color: #000;
    color: var(--color-white);
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 140px;
    min-height: 140px; 
  }
  
  .card-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
  }
  
  .contact-card h3 {
    margin-bottom: 10px;
    font-size: 0.9rem;
  }
  
  .contact-card p {
    margin-bottom: 5px;
    text-align: center;
    font-size: 0.8rem;
  }
  
  .contact-card a {
    color: #F7971E;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.8rem;
  }

  .contact-card a:hover {
    color: var(--color-primary);
    
  }
  
  .contact-form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    height: 100%;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid rgb(47, 47, 47);
    background-color: transparent;
    color: var(--color-white);
  }
  
  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    color: #888;
  }
  
  .contact-form button {
    background-image: linear-gradient(to right, #F7971E 0%, #FFD200  51%, #F7971E  100%);
    margin: 10px;
    padding: 10px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    text-decoration: none;
    display: block;
    width: 95%;
  }
  
  .contact-form button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }

  .contact-form a {
    background-image: linear-gradient(to right, #F7971E 0%, #FFD200  51%, #F7971E  100%);
    margin: 10px;
    padding: 5px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    text-decoration: none;
    display: block;
  }

  .contact-form a:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
      align-items: center;
      width: 300px;
    }
  
    .contact-left, .contact-right {
      width: 100%;
    }
  
    .contact-card, .contact-form {
      height: auto;
    }
  }
  